.image-list {
  display: flex;
  flex-wrap: wrap;
}

.image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1em;
  border: 1px solid black;
  transition: 0.3s;
  padding: 1em;
}

.image-container:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.image-container img {
  width: 15em;
  height: 15em;
}

.image-info {
  display: flex;
  flex-direction: column;
}

p {
  font-weight: bold;
  font-size: smaller;
  margin-top: 1em;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 2em;
}
